@keyframes mymove {
	0%{top: 0px;}
	/*25%{top:100px;}*/
	/*30%{top:200px;}*/
	50%{ top:160px; }
	60%{top:200px;}
	70%{ top:160px; }
	80%{ top:200px; }
	90%{ top:160px;}
	100%{top: 0px;}

}
	 



body{
	background-color: yellow;
}

.button{
	width: 100px;
	height: 100px;
	background-color: green;
	text-align: center;
	position: absolute;
	font-size: 30px;
	transition: color, 3s, ease-in-out;
	/*margin:150px 300px;*/
	
}

div.button:hover{

 background-color: red;
 animation-name: mymove;
 animation-duration: 3s;
animation-iteration-count: infinite;


}

 
div.button i.fa{
	font-size: 100px;
}

/*transition: all 1s, width 5s;
	transition: background 1s ease-in 4s, width 5s, opacity 1s;/*