@keyframes mymove {
	 0%   {left:0px; top: 0px;}
    25%  {left:92%; top:0px; background-color: purple;}
    50% {left:92%; top:85%;background-color: pink;}
    75% {left:0px; top:85%; bottom:0%;background-color: black;}
    100%{left:0px;top: 0px; background-color: green;}
}


body{
	background-color: gray;
}
.cube{
	width: 100px;
	height: 100px;
	background-color: red;
	text-align: center;
	position: absolute;
	font-size: 20px;
	animation-name:mymove;
	animation-duration:8s;
	animation-iteration-count: infinite;
   animation-delay: 1s;
}

div.button:hover{
 background-color: green;
}

 

div.button i.fa{
	font-size: 100px;
}
