.one{
	float: left;
	background-color: yellow;
	width:20%;
	height: 400px;
	
}
.two{
	float: left;
	background-color: red;
	margin-right: 5%;
	margin-left:5%;
	height: 400px;
	width: 50%;
}

.three
{
	float: left;
	background-color: green;
	width: 20%;
	height:400px;
}
body{
	margin: 0px;
}

