

@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts_homework/font/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts_homework/font/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	background-color: pink;
	margin: 0px;
}

header, footer{
	width: 100%;
	height: 40px;
	color: white;
	background-color: #f08080  ;
	text-align: center;
	font-size: 20px;
	position: fixed;
	z-index: 3;
	font-family: 'Gloria Hallelujah';
}

header{
	top: 0px;
	

}
footer{
	bottom: 0px;
	margin-top:0px;


}
html,body{
	height: 100%;
}
div.main{
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 0px;
	right: 0px;
	max-width: 800px;
	background-color: #bc8f8f;
	margin: 0px auto;
	min-height: 100%;
	font-family: 'alex_brushregular';
	font-size: 24px;
	z-index: 1;
}

div.photo{
	position: relative;
	float: left;
	padding-right: 15px;
}