




body{
	background-color: brown;
	margin: 0px;

} 


.main{

	max-width:1000px;
	max-height: 100%;
	border-style: solid;
	border-color: blue;
	background-color: white;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	position: relative;
}

 .one {
	width: 50%;
	border-style: solid;
	background-color: orange;
	position: relative;
	float: left;
	box-sizing: border-box;


}

.two {
	width: 50%;
	border-style: solid;
	background-color: yellow;
	position: relative;
	float: left;
	box-sizing: border-box;

}


@media only screen and (min-width:600px) 
{
	div.one{
		width: 100%;
		float: left;
	}
	div.two{
		width: 100%;
	}

}