body {
	margin: 0px;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png");

}
.clear {
	clear: both;
}

.nav{
	background-color: #008aff;
	color: white;
	font-size: 40px;
	height: 60px;
	width: 100%;
	top:0px;
	left: 0px;
	right: 0px;
	text-align:center;
	position: fixed;
	padding: 0px;
	z-index: 3;

}
.main{
	top: 60px;
	width:1000px;
	padding: 30px 30px 30px 30px;
	background-color:rgba(140,249,87,1);
    position: relative;	
	margin-left: auto;
	margin-right: auto;
	bottom: 0px;
	box-sizing: border-box;
	vertical-align: text-bottom;
	min-height: 100%;

}


.text{
	
	margin-top: -30px;
    font-size: 14px; 
    box-sizing: border-box;


}

.photo{
    float: left;
    padding-right:30px;
    margin-top: -10px;
    
}


.red{
	width: 84px;
	height: 84px;
	margin-top: 60px;
	background-color: red;
	position: absolute;
	right: -42px;
	top: -45px;

}


footer{
	background-color: #ffa200;
	font-size: 24px;
	height: 40px;
	width: 100%;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	text-align: center;
	color: white;

}
html, body{
	height: 100%;
}




	

