body, html{
	margin:0px;
	padding: 0px;

}
body {
	font-family: Arial, serif;
	background-color: #f3f3f3;
}
.hand{
	margin: auto;
	left: 0px;
	right: 0px;
	text-align: center;
}

header{
	top: 0px;
	background-color: #c70a06;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;

}

nav{
	position: relative;
	float: right;
	z-index: 3;
	margin-top: 25px;
	margin-right: 150px;
	
	
}
nav li{
	text-decoration: none;
	display: inline-block;
	padding: 0px 20px;
	color: white;
	text-transform: uppercase;
	text-align: center;

}

nav li a{
	text-decoration: none;
	color: white;

}
nav li a:hover{
	background-color: #3a4141;
}

.pic{
	position: absolute;
	margin-left: 130px;
	margin-right: 250px;
	margin-top: 30px;
	margin-bottom: 8px;
	float: left;
}

.menu:hover{
	background-color: #e2534b;
	border-radius: 5px;
}


.menu .drop {
	// top:100px;
	position: absolute;
	background-color: #c70a06;
}

.drop {
	display:none;

	}

.menu:hover .drop{
	display: block;
}

.menu .drop li{
			
					display: block;
					position: relative;
					top: 10px;
					margin-left: -40px;
					width: 200px;
					text-transform: none;
					background-color: #e2534b;
					padding: 5px 15px;

					
}

.menu .drop li a{
	background-color: #e5655d;
	// margin: 15px 5px 15px 8px;
	border-radius: 4px;
	width: 80px;
	
}
.menu:hover li a:hover{
	background-color: #3a4141;
}
					 
.slider{
	top: 80px;
	height: 500px;
	width: 100%;
	background-color: pink;
	position: absolute;
	padding-bottom: 20px;
	background-image: url('backgroundfordesign.jpg');
	

	}		
.design{
	width: 1100px;
	height: 120px;
	margin-top: 380px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	border-radius: 4px;
}

.design p{
	text-align: left;
}

.left{
	width: 50px;
	height: 40px;
	background-color: #e8645a;
	position: relative;
	top: 270px;
	float: left;
	font-size: 40px;
	color: white;
	text-align: center;

}
.right{
	width: 50px;
	height: 40px;
	background-color: #e8645a;
	position: relative;
	top: 270px;
	float: right;
	font-size: 40px;
	color: white;
	text-align: center;
}


.ind{
	top:620px;
	width: 300px;
	height: 20px;
	position: absolute;
	left:0;
	right: 0;
	margin: auto;
	
}		
.one{
	width: 50px;
	height: 5px;
	background-color: gray;
	position: relative;
	float: left;
	margin-right: 5px;
}	
.two{
	width: 50px;
	height: 5px;
	background-color: #e2534b;
	position: relative;
	float: left;
	margin-left: 5px;
	margin-right: 5px;

}
.three{
	width: 50px;
	height: 5px;
	background-color: gray;
	position: relative;
	float: left;
	margin-left: 5px;
}
.lorem{
	width: 1100px;
	height: 120px;
	margin: auto;
	left:0px;
	right: 0px;
	background-color: #ececec;
	opacity: 0.4;
	position: relative;
	border-radius: 4px;
	
}

.lorem p{
	text-align: left;
}

h2{
	color: #da3f39;
	font-size: 19px;
	text-align: center;
	padding-top: 30px;
}



.main{
	top:650px;
	width: 1200px;
	height: 600px;
	margin-top: 20px;
	margin: auto;
	left: 0px;
	right: 0px;
	position: absolute;
}

button{
	width: 200px;
	height: 50px;
	position: relative;
	float: right;
	margin-top: -50px;
	background-color: #e8645a;
	border-radius: 5px;
}

.boxes{
	margin: auto;
	left: 0px;
	right: 0px;
	position: absolute;
	width: 1100px;
	margin-top: 50px;

}
.box{
	width: 240px;
	height: 310px;
	background-color: #ffffff;
	position: relative;
	float: left;
	margin: 15px;
	
}

	.box1{
		margin-left: 30px;
		padding-left: 20px;
	}
	
	

.fa{
	color: white;
	margin-left: 30px;
}

.buttons {
	width: 200px;
	height: 50px;
	color: black;
	text-decoration: none;
	position: absolute;
	text-align: center;
	border-radius: 10px;
	background-color: #2e3636 ;
	color: white;
	margin: auto;
	left: 0px;
	right: 0px;
	font-size: 14px;
	bottom: -25px;

}

#first {
	background-color: #e8645a;
}

.links {
	text-decoration: none;
	color: white;
	top: 35%;
	position: relative;
	transform: translateY(-60%);
}
.img{
	padding-top: 30px;
	left: 0px;
	right: 0px;
	margin: auto;
	display: block;
	width: 65px;
	height: 60px;
}

p{
	white-space: pre-line;
	font-size: 14px;
	line-height: 16px;
	min-height: 40px;
	overflow: hidden;
	
	text-align: center;
}